{% extends "admin/base.html" %}

{% block title %}
  {{ admin_labels.site.title|default:_('Port Adhoc Compta') }}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <style>
    /* Masque le sélecteur de langue natif du Django admin */
    #user-tools form[action$="/setlang/"] { display: none !important; }
  </style>
{% endblock %}

{% block branding %}
  <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ admin_labels.site.header|default:_('Administration de Django') }}</a></h1>
{% endblock %}


